*{
	margin:10;
	padding:10;
	box-sizing:border-box;
}
body {
	margin:20px 60px;
	background-color: ;
}

#intro {
	font-family: Verdana;
	font-size: 24pt;
	font-weight: bold;
	color: grey;
 }
img {
	display: block;
	width:100%;

}
#logo{
	color:black;
	font-family: Helvetica;
}
.navlink{
	color:gray;
	font-family: Arial;
	font-size: 10pt;
	text-align: left;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.item01{
	color:purple;
}