@import url(https://fonts.googleapis.com/css?family=Crimson+Text|Do+Hyeon|Julius+Sans+One);

*{
	margin:10;
	padding:10;
	box-sizing:border-box;
}
body {
	margin:10px 60px;
	background-color: ;
}

#intro {
	font-family: 'Crimson Text', serif;
	font-size: 24pt;
	font-weight: ;
	color: black;
	padding: 50px 50px;
 }
img {
	display: block;
	width:45%;

}
#logo{
	color:black;
	font-family: Helvetica;
}
#name{
	font-family: 'Crimson Text', serif;
	font-size: 12pt; 
	font-weight: 200;
}
nav {
	text-align: right;
}
.navlink{
	color:gray;
	font-family: 'Julius Sans One', sans-serif;
	font-size: 10pt;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding:10px 10px;
}
.item01{
	color:purple;
}